$redish-background: linear-gradient(268deg, #ff545b 6%, #a50d14);
$blueish-background: linear-gradient(
  267.92deg,
  #669bbc 0%,
  #577b92 104.72%,
  #669bbc 104.73%
);
$blueish: #669bbc;
$dark: #2b2d42;
